
	<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      display: flex;
    }
    
    .column {
      flex: 1;
      padding: 10px;
    }
    
    .column-1 {
      flex-basis: 20%;
      background-color: #f2f2f2;
    }
    
    .column-2 {
      flex-basis: 20%;
      background-color: #e6e6e6;
    }
    
    .column-3 {
      flex-basis: 60%;
      background-color: #d9d9d9;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="column column-1">
      <!-- Content for column 1 -->
    </div>
    
    <div class="column column-2">
      <!-- Content for column 2 -->
    </div>
    
    <div class="column column-3">
      <!-- Content for column 3 -->
    </div>
  </div>
</body>
</html>

